<h1>Component from event!</h1>
<h4>All are in Console!</h4>

<button (click) = "myEvent('This called myEvent')">Click Me</button>

<input type="text" #inputbox1 (keyup)= "myEvent(inputbox1.value)" placeholder="KeyUp Event"/>

<input type="text" #inputbox2 (keydown)= "myEvent(inputbox2.value)" placeholder="keydown Event"/>

<input type="text" #inputbox3 (keyup.enter)= "myEvent(inputbox3.value)" placeholder="keyup enter Event"/>

<input type="text" #inputbox4 (blur)= "myEvent(inputbox4.value)" placeholder="blur Event"/>

<p (mouseover) = "myEvent('Mouse Over')" 
    (mouseleave) = "myEvent('Mouse Leave')"
    style="background-color: darkgreen;">
    Mouse Event
</p>

<input type="text" #inputbox5 (keyup)= "setText(inputbox5.value)"/>
<span>{{curentValue}}</span>

<input type="text" #inputbox6/>
<button (click) = "setTextByButtonClicked(inputbox6.value)">Get Value</button>
<span>{{curentValue1}}</span>